      

      {{!-- {{#each projects as |project| }}
    <h2>
      <a href="{{project.link}}" target="_blank">{{project.name}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}


<div class="container d-flex d-flex flex-column align-items-center align-items-center bg-seconday text-dark">
  <h1 class="text-light mb-4 mt-2">Group Projects</h1>
  {{#each projects as |project| }}
  <ol class="list-group list-group-numbered w-50">
    <li class="list-group-item bg-secondary">
      <div class="ms-2 me-auto">
        <h3>
          <a class="fw-bold text-light" href="{{project.link}}" target="_blank">{{project.name}}</a>
        </h3>
        <p>
          {{project.description}}
        </p>
      </div>
    </li>
  </ol>
  <br>
  {{/each}}
</div>